/* info */

/* position: absolute;
width: 72px;
height: 72px;
left: 816px;
top: 434px; */



/* Rectangle 9 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */



/* Ellipse 3 */

/* position: absolute;
left: 2.38%;
right: 2.38%;
top: 2.38%;
bottom: 2.38%;
background: #5396ED; */


/* Vector */

/* position: absolute;
left: 21.43%;
right: 26.19%;
top: 28.57%;
bottom: 23.81%;
background: #5396ED; */
