.centeredGrid {
  display: grid;
  place-items: center;
}

.app {
  height: 100%;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app > * {
  margin: 3px 0;
}

.colum{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0px 32px 0px 32px;
  margin: 100px 0 80px;
}

.columnContent1 {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #191919;
  background-color: #84D0CE;
}

.columnContent1 h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.columnContent1 img{
  width: auto;
  height: 500px;
  border-color: #191919;
}

.columnContent2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  color: #191919;
  font-family: 'Roboto';
}

.columnContent2 img {
  width: 80px; 
  height: auto; 
  margin-bottom: 10px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.subTitles1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  padding: 16px 0px 4px 0px;
}

.subTitles2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 12px;
  color: #000000;
  padding: 32px 0px 4px 0px;
}

.divider{
  width: 90%;
  border: 0.1px solid #000000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.IconSteps{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.text{
  width: 90%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}

